* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Cambria, serif;
    background-color: #e7bf8b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5c6bc0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #3949ab;
}

.output {
    font-size: 16px;
    color: #333;
    text-align: left;
    line-height: 1.5;
}

.output p {
    margin-bottom: 8px;
}
